<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon324c17f2.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://cdn.bootcdn.net/ajax/libs/react/17.0.1/umd/react.production.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/react-dom/17.0.1/umd/react-dom.production.min.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/history/4.10.1/history.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/react-router/5.2.0/react-router.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js"></script> -->
</head>

<body>
    <div id="root"></div>
</body>

</html>